<!DOCTYPE html>
<html lang="en">

<head>
    <title>Video Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/indexCSS.css"> -->

    <!-- Dismiss alerts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <style>
html {
  scroll-behavior: smooth;
}
body {
    background-color: #181818;
    color: #e9e9eb;
}

.canvas{
    width: 90%;
    height: 80vh;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; 
    background-color: white;
}
.whiteboard{
    width: 100%;
    height: 80vh;

}

.canvas.whiteboard.colors {
    position: fixed;
  }
  
  .color {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
  
  .color.white {
      background-color: white;
      background-image: url(https://icons.iconarchive.com/icons/iconsmind/outline/48/Eraser-icon.png);
      background-repeat: no-repeat;}
  .color.black { background-color: black; }
  .color.red { background-color: red; }
  .color.green { background-color: green; }
  .color.blue { background-color: blue; }
  .color.yellow { background-color: yellow; }
    </style>

</head>

<body>

    <div class="heading" style="text-align: center; padding: 5px;">
        <strong style="color: #2399ac;">
            <h2>
                Video Call<br>
            </h2>
        </strong>

        <div style="padding: 5px;">
            Welcome, <strong style="color: #2399ac;"> <%= name %> </strong> &nbsp;
            <a href="/logout"><button class="btn btn-sm btn-outline-danger">Logout</button></a>
            <br>
        </div>
        <div style="display: none;">
            Your Unique ID : <span id="displayId" style="text-align: center;"> Not Connected to Server</span><br>
            Your Socket ID : <span id="socketId" style="text-align: center;"> </span><br>
        </div>

    </div>
    <br>

    <!-- <div id="chat-window">
        <div id="output"> </div>
    </div>
    <div class="container">
        <form class="form-signup" onsubmit="return false">

            <input type="text" id="handle" class="form-control" placeholder="Name" required>

            <input type="text" id="message" class="form-control" placeholder="Enter Message" required autofocus> -->

    <!-- <button id="button" class="btn btn-lg btn-primary btn-block" type="submit" hidden>Send</button> -->
    <!-- </form>
    </div> -->


    <div class="container">
        <div id="incoming-call" style="text-align: center;">
            <div id="callerinfo"></div>
        </div>

        <div id="alert_placeholder"  class="container" >
        </div>

 


        <div class="row">


            <div class="col-s-6 col-md-6 col-lg-6">
                <div style="text-align: center; color: #2399ac;">
                    REMOTE
                </div>
                <video style="width: inherit;" id="rVideo" autoplay="autoplay">
            </div>
            <div class="col-s-6 col-md-6 col-lg-6">
                <div style="text-align: center; color: #2399ac;">
                    LOCAL
                </div>
                <video style="width: inherit" id="lVideo" autoplay="autoplay" muted>
            </div>
        </div>

        <!-- <button id="conn_button" class="btn btn-success btn-lg btn-block" type="submit">Connect</button> -->
        <div id="disconnectBtn" class="container">
            <button id="disconnect_button" class="btn btn-danger btn-lg btn-block" type="submit"
                style="display: none;">End Call</button>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <!-- SIMPLE PEER -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.7.2/simplepeer.min.js"></script> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/peerjs@0.3.20/dist/peer.min.js"></script> -->


    <!-- PEER JS -->
    <script src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>



    <script src="/client.js" async defer></script>

    <div class="container" style="text-align: center; color: #2399ac;">
        ALL USERS

        <div class="container" id="alluser" style="padding: 5px;"></div>
        <button class="btn btn-md btn-outline-secondary" id="canvas_btn" style="display: none; margin: 0 auto; ">Show Canvas</button>

    </div>
    <input name="userid" id="userid" type="text" value="<%=id%>" hidden>
    <input name="name" id="name" type="text" value="<%=name%>" hidden>
    <input name="username" id="username" type="text" value="<%=username%>" hidden>


    <div id="alert_placeholder_enable"  class="container" style="margin: 5px;">
    </div>

    <div id="canvas" class="canvas" style="display: none;">
        <canvas class="whiteboard"  ></canvas>

        <div class="colors">
          <div class="color black"></div>
          <div class="color red"></div>
          <div class="color green"></div>
          <div class="color blue"></div>
          <div class="color yellow"></div>
          <div class="color white"></div>
        </div>
    </div>




</body>

</html>
